*,
::before*,
::after*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;

    @include respond(sm){
        font-size: 8px;
    }

    @include respond(md){
        font-size: 9px;
    }

    @include respond(xl){
        font-size: 11px;
    }
}


body{
    font-size: $default-font-size;
    background-color: $color-background;
    min-height: 100vh;
}