$color-primary:#3535ec;

$color-background:#f1f5fa;
$color-background-light:#ebeffd;
$color-background-dark:#001632;
$color-background-neutral:#e5fcf0;

$color-green:#00de6b;
$color-white:#fff;

$color-text:#001632;
$color-text-light:#b5c5dd;


$screen-sm-max:576px;
$screen-md-max:768px;
$screen-lg-max:992px;
$screen-xl-max:1200px;



//font

$default-font-size:1.6rem;