@import './variables';
@import './mixins';
@import './reset';
@import './helpers';



header{
    background-color: $color-white;
    padding: 1.6rem 8rem;

    @include respond(lg){
        padding: 1.6rem;
    }
    .nav{
        .container{
            @include flex(space-between);
        }
    }
}





